header{

    background: $green;

    img{
        width: $logo-size;
        height: $logo-size;
    }

    h1{
        color: white;
    }

    nav{

        button{
            width: 30px;
            height: 30px;
            padding: 0;
        }

        li{
            margin-right: 1em;

            &:nth-last-child(1){
                margin-right: 3em;
            }

            &:nth-of-type(1){
                a{
                    color: white;
                }
            }

            a{
                color: rgba(255, 255, 255, 0.534);

                &:hover{
                    background: white;
                    color: black;
                    text-decoration: none;
                }
            }
        }

        .research{
            button{
                background: rgba(0, 0, 0, 0);
                border: 1px white solid;
                color: white;
            }
        }
    }
}